.defaultText {
	font-size: 22px;
	padding: 10px;
	margin: 5px;
	color: black;
	border: solid 1px red;
}
.selectedText {
	background-color: yellow;
	color: blue;
	font-weight: bold;
}
.containerView {
	background-color: #DDD;
}